@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

*{
    margin:0;
}

canvas{
    border: solid 3px black;
    border-radius: 3px;
}

body{
    background-color: #F2F2F2
}

div{
    margin-top:75px;
    text-align: center;
}

.win, .splash{
    margin-top: 250px;
    text-align: center;
}

p,section{
    font-family: 'Press Start 2P', cursive;
    margin-top: 50px;
    
}

h1{
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    font-size: 3em;
}

button{
    font-family: 'Press Start 2P', cursive;
    margin-top: 50px;
    font-weight: bold;
    font-size: 2em;
    color:white;
    background-color: black;
    border: 0;
    border-radius: 10px;
    width: 250px;
    height: 100px;
}